<mat-card class="card">
  <section>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input type="text"  matInput #cardTitle>
    </mat-form-field>
    <button mat-raised-button color="primary"  (click)="onAddCard(cardTitle.value)">Add Card</button>
  </section>

  <table mat-table>
    <ng-container matColumnDef="position" *ngFor="let titles of cardsTitle">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <tr mat-cell > {{titles}} </tr>
    </ng-container>

  </table>

</mat-card>
